# KiCad backups and autosaves
*-backups/
_autosave-*
*.bak
*.lck
~*.lck
fp-info-cache

# KiCad per-user local settings (window layout, visible layers etc.)
*.kicad_prl

# Archives
*.zip
.history/
.history/
.history/
